name: Get Fyers Access Token

on:
  workflow_dispatch: {}   # run manually from Actions tab

jobs:
  get-token:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install fyers-apiv3

      - name: Run GetAccessToken.py
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          REDIRECT_URI: ${{ secrets.REDIRECT_URI }}
          AUTH_CODE: ${{ secrets.AUTH_CODE }}
          RECIPIENT_EMAIL: ${{ secrets.RECIPIENT_EMAIL }}
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          SENDER_PASSWORD: ${{ secrets.SENDER_PASSWORD }}
          SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
        run: python GetAccessToken.py
